body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
}


.bgContainer {
  width:100%;
  height:100%;
}

video {
  width:100%;
  height:100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.4);
}

.login-page {
  width: 100vw;
  height: 100vh;
  /*background: linear-gradient(75deg, rgb(20, 23, 33) 0%, rgb(20, 23, 33) 50%, rgba(20, 23, 33,0.8) 100%);*/
  display: table-cell;
  vertical-align: middle;
}

.card {
  width: 200px;
  position: relative;
  left: calc(50vw - 100px);
  text-align: center;
}


.title { 
  font-size: 42px; 
  font-family: 'Avenir'; 
  font-weight: 800; 
  letter-spacing: 0.5px; 
  color: #e8e8e8; 
  padding-bottom: 12px; 
}

input {
  background-color: #3e404b;
  color: white;
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}

button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all .44s ease;
  -webkit-transition: all .44s ease;
  -moz-transition: all .44s ease;
}
button:hover {
  filter: brightness(145%);
}

p {
  font-family: "Avenir";
  color: white;
  font-size: 20px;
  margin-top: 12px;
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  background-color: white;
  border: 1px solid #9e7676;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 30px;
  height: 30px;
}